html, body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 600px; 
}


header {
    grid-column: span 6;
    margin-top: 3rem;
    margin-left: 9rem;
    font-weight: 600;
}

header1 {
    grid-column: span 6;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    justify-content: space-between;
    margin-top: -0.5rem;
    padding-left: 9rem;
    background-color: hsl(207, 33%, 95%);
    width: 76%;
    height: 150px;
    margin-left: 1rem;


}


/* - Very Dark Blue: hsl(230, 29%, 20%)
- Dark Grayish Blue: hsl(230, 11%, 40%)
- Grayish Blue: hsl(231, 7%, 65%)   color: hsl(231, 7%, 65%); arched background
- Light Grayish Blue: hsl(207, 33%, 95%) */

 .navi {
    display: flex;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    color: hsl(230, 29%, 20%);
    cursor: pointer;
    padding-top: 3rem;
    

    
}

.navi > div:nth-child(1) {
    margin-right: 3rem;
}
.navi > div:nth-child(2) {
    margin-right: 3rem;
}

.navi > div:nth-child(3) {
    margin-right: 5rem;
}
.navi > div:nth-child(4) {
    margin-right: 2rem;
    color: gray;
   
}

main {
    grid-column: span 6;
    color: hsl(230, 29%, 20%);
    margin-left: 9rem;
    font-weight: 900;
    margin-top: 2rem;
    
}

aside {
    grid-column: span 6;
    margin-top: -0.5rem;
    padding-top: 2.5rem;
    color : hsl(207, 33%, 95%);
    background-color: hsl(207, 33%, 95%);
    height: 43%;
    border-bottom-left-radius: 60px;
    margin-left: 1rem;
    width: 99%;
    /* max-width: 100%;    
    max-height: 100%; */
   
}

.hide {
    max-width: 1000px;
    overflow: hidden;
   
}



.newt {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 2rem;
}

.new {
    background-color: hsl(0, 0%, 3%);
    color: hsl(207, 33%, 95%);
    padding: 6px 20px;
    border-radius: 50px;
    margin-right: 0.7rem;
}

.mono {
    letter-spacing: 0.3rem;
    padding: 6px 8px;
    color: hsl(210, 3%, 72%);
}

h1 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 54px;
    letter-spacing: 4px;
    margin-top: -0rem ;
}

h4 {
    color: gray;
    margin-top: -1rem;
}

.preview {
    display: inline-flex;
    text-transform: uppercase;
    color: gray;
    margin-top: 4rem;
}

.prev {
    letter-spacing: 0.1rem;
    font-size: 14px;
    color: hsl(210, 3%, 72%);
}

button {
    background-color: hsl(0, 100%, 68%);
    font-family: 'Barlow Condensed', sans-serif;
    color: hsl(207, 33%, 95%);
    padding: 10px 40px;
    text-align: center;
    display: inline;
    font-size: 17px;
    border-radius: 8px;
    margin-right: 22px;
    cursor: pointer;
}